@model SiteManagement.Models.LabourExpense

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LabourExpense</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LabourId" class="control-label"></label>
                <select asp-for="LabourId" class="form-control" asp-items="ViewBag.LabourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" value="1" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control"  />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{



    </script>
}
