<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
   


    <link href="~/css/Site.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/Images/Logo.png" height="30" width="30" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Sites" asp-action="Index" class="nav-link">Site</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Employee" asp-action="Index" class="nav-link">Labour</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Bill" asp-action="Create" class="nav-link">Material Expense</a>
                </li>
            </ul>
        </nav>


        <div class="container">
            @RenderBody()
        </div>



    </div>


   

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
